/* General styles for horizontal view */
body {
    transform       : rotate(90deg);
    transform-origin: top left;
    width           : 100vh;
    height          : 100vw;
    overflow-x      : hidden;
    position        : absolute;
    top             : 100%;
    left            : 0;
}

/* Container */
.container {
    display       : flex;
    flex-direction: row;
    width         : 100vh;
    /* Since the body is rotated, we use vh here */
    height        : 100vw;
    /* Use vw here because height is now the width */
    overflow-y    : auto;
}

/* Modal */
.hidden {
    display: none;
}

/* Overlay */
.overlay {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter : blur(3px);
    z-index         : 5;
}

/* Characters list and items */
.characters-list {
    padding        : 0;
    display        : flex;
    align-items    : center;
    justify-content: space-around;
}

.characters-item {
    list-style         : none;
    position           : relative;
    width              : 280px;
    height             : 280px;
    cursor             : pointer;
    background-image   : url("./images/bg.jpg");
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    border-radius      : 50%;
    display            : grid;
    place-items        : center;
    transition         : border 0.3s ease-in-out;
    border             : 2px solid #fff;
}

.characters-item:hover {
    border             : 8px solid #fff;
    background-position: center center;
}

.characters-item:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color   : rgba(255, 255, 255, 0) !important;
    outline                    : none !important;
}

.characters-item .characters-img {
    transition: transform 0.3s ease-in-out;
}

.characters-item:hover .characters-img {
    transition: transform 0.3s ease-in-out;
    transform : scale(1.2) rotate(-15deg);
}

.characters-name {
    position        : absolute;
    top             : 220px;
    font-family     : Arial, Helvetica, sans-serif;
    font-weight     : 500;
    letter-spacing  : 1px;
    font-size       : 28px;
    background-color: #fff;
    color           : #000;
    border-radius   : 10px;
    padding         : 8px;
}

/* Modal content */
.modal {
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    width           : 80%;
    max-width       : 600px;
    height          : auto;
    padding         : 15px;
    line-height     : 22px;
    z-index         : 1000;
    background-color: #fff;
    border-radius   : 10px;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-closebtn {
    position        : absolute;
    top             : -10px;
    right           : 10px;
    color           : #0041ba;
    background-color: transparent;
    font-weight     : 600;
    font-size       : 50px;
    padding         : 0px;
    border-radius   : 50%;
    cursor          : pointer;
    transition      : 0.3s ease-in-out;
    border          : none;
}

.modal-closebtn:active {
    transform: scale(0.95);
}

/* Media queries */
@media screen and (max-width: 500px) {
    .characters-list {
        display       : flex;
        flex-direction: column;
    }

    .characters-item {
        margin-bottom: 50px;
    }

    .logo {
        width : 200px;
        height: auto;
    }

    .title {
        font-size: 40px;
    }
}